#!/usr/bin/env bash

# START SETTINGS elasticsearch.base
export CONTECO_DC_EKG_ELASTICSEARCH_DEPLOY_RESOURCES_LIMITS_MEMORY="756m"
export CONTECO_DC_EKG_ELASTICSEARCH_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="512m"
# END SETTINGS elasticsearch.base
# START SETTINGS kibana.base
export CONTECO_DC_EKG_KIBANA_DEPLOY_RESOURCES_LIMITS_MEMORY="512m"
export CONTECO_DC_EKG_KIBANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="256m"
# END SETTINGS kibana.base
# START SETTINGS grafana.base
export CONTECO_DC_EKG_GRAFANA_DEPLOY_RESOURCES_LIMITS_MEMORY="128m"
export CONTECO_DC_EKG_GRAFANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="64m"
# END SETTINGS grafana.base
# START SETTINGS nginx.base
export CONTECO_DC_EKG_REST_ELASTICSEARCH_COMPOSE_EXTENSIONS="      labels: [traefik.enable=true,traefik.docker.network=${CONTECO_NETWORKGLOBAL}_overlay, traefik.http.services.${CONTECO_STACKPREFIX}_nginx.loadbalancer.server.port=80, traefik.http.routers.${CONTECO_STACKPREFIX}_nginx.entrypoints=conteco, traefik.http.routers.${CONTECO_STACKPREFIX}_nginx.rule=PathPrefix(\"/${CONTECO_URLPREFIX}/streamsets\")]${DOLLAR}{CONTECO_DC_NGINX_COMPOSE_EXTENSIONS}"
export CONTECO_DC_EKG_REST_ELASTICSEARCH_ENVIRONMENT_CONF_PATH="/${CONTECO_URLPREFIX}/streamsets"
export CONTECO_DC_EKG_REST_ELASTICSEARCH_ENVIRONMENT_CONF_UPSTREAM="${CONTECO_STACKPREFIX}_streamsets:18630"
export CONTECO_DC_EKG_REST_ELASTICSEARCH_DEPLOY_RESOURCES_LIMITS_MEMORY="64m"
export CONTECO_DC_EKG_REST_ELASTICSEARCH_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="16m"
# END SETTINGS nginx.base
# START SETTINGS nginx.base
export CONTECO_DC_EKG_UI_GRAFANA_COMPOSE_EXTENSIONS="      labels: [traefik.enable=true,traefik.docker.network=${CONTECO_NETWORKGLOBAL}_overlay, traefik.http.services.${CONTECO_STACKPREFIX}_nginx.loadbalancer.server.port=80, traefik.http.routers.${CONTECO_STACKPREFIX}_nginx.entrypoints=conteco, traefik.http.routers.${CONTECO_STACKPREFIX}_nginx.rule=PathPrefix(\"/${CONTECO_URLPREFIX}/streamsets\")]${DOLLAR}{CONTECO_DC_NGINX_COMPOSE_EXTENSIONS}"
export CONTECO_DC_EKG_UI_GRAFANA_ENVIRONMENT_CONF_PATH="/${CONTECO_URLPREFIX}/streamsets"
export CONTECO_DC_EKG_UI_GRAFANA_ENVIRONMENT_CONF_UPSTREAM="${CONTECO_STACKPREFIX}_streamsets:18630"
export CONTECO_DC_EKG_UI_GRAFANA_DEPLOY_RESOURCES_LIMITS_MEMORY="64m"
export CONTECO_DC_EKG_UI_GRAFANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="16m"
# END SETTINGS nginx.base
# START SETTINGS nginx.base
export CONTECO_DC_EKG_UI_KIBANA_COMPOSE_EXTENSIONS="      labels: [traefik.enable=true,traefik.docker.network=${CONTECO_NETWORKGLOBAL}_overlay, traefik.http.services.${CONTECO_STACKPREFIX}_nginx.loadbalancer.server.port=80, traefik.http.routers.${CONTECO_STACKPREFIX}_nginx.entrypoints=conteco, traefik.http.routers.${CONTECO_STACKPREFIX}_nginx.rule=PathPrefix(\"/${CONTECO_URLPREFIX}/streamsets\")]${DOLLAR}{CONTECO_DC_NGINX_COMPOSE_EXTENSIONS}"
export CONTECO_DC_EKG_UI_KIBANA_ENVIRONMENT_CONF_PATH="/${CONTECO_URLPREFIX}/streamsets"
export CONTECO_DC_EKG_UI_KIBANA_ENVIRONMENT_CONF_UPSTREAM="${CONTECO_STACKPREFIX}_streamsets:18630"
export CONTECO_DC_EKG_UI_KIBANA_DEPLOY_RESOURCES_LIMITS_MEMORY="64m"
export CONTECO_DC_EKG_UI_KIBANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="16m"
# END SETTINGS nginx.base
